<CascadingBlazoredModal>
  <Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
      <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
    </Found>
    <NotFound>
      <h1>Page not found</h1>
      <p>All windows and notes content is found on the main page.</p>
    </NotFound>
  </Router>
</CascadingBlazoredModal>
