@page "/load-view"

<p><em>This operation has been performed successfully.</em></p>

<p>Now switch to 'Your Notes' to view your loaded notes, or alternatively 
  close the app with your data saved.</p>