@page "/book-notes-view"
@using DiaryNotes20.Components;
@using DiaryNotes20;
@using DiaryNotes20.Models;

<h1>"@AppBuilder.AccessCurrentBookItem().Title" Pages</h1>

<div class="items-grid">
  @foreach (Note item in Pages)
  {
    <NoteView 
      CurrentTitle=@item.Title 
      CurrentBody=@item.Body 
      CurrentColour=@item.Colour
      CurrentId=@item.Id
    />
  }
</div>

@code {
  protected override void OnInitialized()
  {
    AppBuilder.CurrentBaseTypeIsNote = false;
    Pages = AppBuilder.AccessBookContents(AppBuilder.CurrentBookItemId);
  }
  private List<Note> Pages;
}