@page "/"
@inject NavigationManager Navigator

<div id="lock-box">
  <img src="/images/lock.png"/>
  <button class="btn-main" @onclick="Load">Load your notes</button>
  <button class="btn-main" @onclick="Save">Save changes</button>
</div>

<div id="main-box">
  <h1 class="note-text">DiaryNotes20</h1>
  <h2 class="note-text">An open-source, customisable notes app.</h2>

  <p class="note-text">Securely access and organise your notes. 
    Avaliable for Windows and macOS.</p>

  <ul>
    <li>View your notes at 'Your Notes'</li>
    <li>Add an item at 'Add a Note', 'Add a Book'</li>
    <li>Click on any note or book to edit or delete the contents</li>
    <li>Remember to save your changes before quitting!</li>
  </ul>
</div>

@code 
{
  private void Load() { Program.LoadNotes(); }
  private void Save() { Program.SaveNotes(); }
}
